/* components/Preloader.css */
.preloader {
  position: fixed;
  inset: 0;
  background-color: #000;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preloader-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-text {
  font-size: 3.75rem; /* 6xl */
  line-height: 1;
  font-weight: 900;
  color: #fff;
  z-index: 10;
  opacity: 0;
}

@media (min-width: 768px) {
  .preloader-text {
    font-size: 6rem; /* md:text-8xl */
  }
}

.preloader-taxi {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 20;
}

.preloader-taxi-icon {
    color: #FFC107;
}

.preloader-track {
  position: absolute;
  bottom: 33.333333%;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background-color: rgba(255, 193, 7, 0.2);
}

.preloader-track-inner {
  width: 100%;
  height: 100%;
  background-color: #FFC107;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.preloader-radial-glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(ellipse at center, rgba(255,193,7,0.2) 0%, rgba(255,193,7,0) 60%);
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
}
